<div class="container mt-5">
  <div class="row">
    <div class="col-xs-6 mx-auto"><h4>Sign Up</h4></div>
  </div>

  <%= form_with model: @customer, url: customer_registration_path, class:"contact-form", local: true do |f| %>

    <div class="row mt-5 d-flex justify-content-center">
      <div class="form-field col-7 col-lg-3">
        <%= f.text_field :last_name, autofocus: true, class:"input-text form-js-input" %>
        <%= f.label :last_name, "姓", class:"label" %>
      </div>
      <div class="form-field col-7 col-lg-3">
        <%= f.text_field :first_name, class:"input-text form-js-input" %>
        <%= f.label :first_name, "名", class:"label" %>
      </div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="form-field col-7 col-lg-3">
        <%= f.text_field :last_name_kana, class:"input-text form-js-input" %>
        <%= f.label :last_name_kana, "セイ", class:"label" %>
      </div>
      <div class="form-field col-7 col-lg-3">
        <%= f.text_field :first_name_kana, class:"input-text form-js-input" %>
        <%= f.label :first_name_kana, "メイ", class:"label" %>
      </div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="form-field col-7 col-lg-3">
        <%= f.email_field :email, autocomplete: "email", class:"input-text form-js-input" %>
        <%= f.label :emai, "メールアドレス", class:"label" %>
      </div>
      <div class=" col-7 col-lg-3"></div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="form-field col-7 col-lg-3">
        <%= f.text_field :postcode, id:"zip", class:"input-text form-js-input"%>
        <%= f.label :postcode, "郵便番号(ハイフンなし)", class:"label" %>
      </div>
      <div class=" col-7 col-lg-3"></div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="form-field col-7 col-lg-6">
        <%= f.text_field :address, id:"address", class:"input-text form-js-input" %>
        <%= f.label :address, "住所", class:"label" %>
      </div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="form-field col-7 col-lg-3">
        <%= f.text_field :phone_number, class:"input-text form-js-input" %>
        <%= f.label :phone_number, "電話番号(ハイフンなし)", class:"label" %>
      </div>
      <div class=" col-7 col-lg-3"></div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="form-field col-7 col-lg-3">
        <%= f.password_field :password, autocomplete: "new-password", class:"input-text form-js-input" %>
        <%= f.label :password, "パスワード(6文字以上)", class:"label" %>
      </div>
      <div class=" col-7 col-lg-3"></div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="form-field col-7 col-lg-3">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"input-text form-js-input" %>
        <%= f.label :password_confirmation, "パスワード(確認用)", class:"label" %>
      </div>
      <div class=" col-7 col-lg-3"></div>
    </div>

    <div class="row mt-5 mb-5 form-field">
      <%= f.submit "Signup", class:"col-3 mx-auto col-lg-2 submit-btn" %>
    </div>
  <% end %>

  <div class="row mt-3">
    <div class="col-xs-6 mx-auto"><h4>＜ 既に登録済みの方 ＞</h4></div>
  </div>

  <div class="row mt-2 mb-5">
    <div class="col-12 text-center"><%= render "customers/shared/links" %></div>
  </div>

</div>

