<div class="container">
  <div class="row">
    <div class="col-3">
      <h2>ジャンル検索</h2>
      <% @genres.each do |genre| %>
        <%= link_to genre.name, items_path(sort: genre.id) %>
      <% end %>
    </div>

    <div class="col-9">
      <div class="card" style="max-width: 600px;">
        <img class="card-img" src="/assets/cake_strawberry.jpeg">
        <div class="card-img-overlay">
          <p>
            ようこそ、ながのCAKEへ！<br>
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員ではない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。
          </p>
        </div>
      </div>

        <h2>新着商品</h2>
        <div class="d-flex bd-highlight">
          <% @items.each do |item| %>
            <div class="p-2 flex-fill bd-highlight">
              <%= attachment_image_tag item, :item_image, :fill, 100, 100, fallback:"cake_role.jpeg" %>
              <p><%= item.name %></p>
              <p>¥<%= item.price %></p>
            </div>
          <% end %>
        </div>
          <%= link_to "全ての商品を見る", items_path %>
    </div>
  </div>
</div>
