<div class="shipping_address_view">
  <div class="mt-5 table-responsive-lg">
    <table class="table table-hover">
      <thead>
        <tr>
          <th style="width:15%">郵便番号</th>
          <th style="width:50%">住所</th>
          <th style="width:15%">宛名</th>
          <th style="width:10%"></th>
          <th style="width:10%"></th>
        </tr>
      </thead>
      <tbody>
        <% shipping_addresses.each do |shipping_address| %>
        <tr>
          <td style="white-space:nowrap"><%= shipping_address.postcode %></td>
          <td style="white-space:nowrap"><%= shipping_address.address %></td>
          <td style="white-space:nowrap"><%= shipping_address.address_name %></td>
          <td style="white-space:nowrap"><%= link_to "編集する", edit_shipping_address_path(shipping_address), class:"btn-flat-success" %></td>
          <td style="white-space:nowrap"><%= link_to "削除する", shipping_address_path(shipping_address), method: :delete, class:"btn-flat-danger", remote: true %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>