<%= render 'layouts/errors', obj: @shipping_address %>

<div class="container mb-5 mt-5">
  <h2 class=mb-5>配送先登録 / 一覧</h2>

  <%= form_with model: @shipping_address, local: true do |f| %>
    <div class="form_group row ml-10 mb-2">
      <%= f.label :郵便番号（ハイフン無し）, class:"col-sm-3 col-form-label" %>
      <div class="col-sm-9">
        <%= f.text_field :postcode, placeholder:"0000000" %>
      </div>
    </div>


    <div class="form_group row ml-10 mb-2">
      <%= f.label :住所, class:"col-sm-3 col-form-label" %>
      <div class="col-sm-9">
        <%= f.text_field :address, size:"60", placeholder:"東京都渋谷区代々木神園町0-0" %>
      </div>
    </div>

    <div class="form_group row ml-10 mb-2">
      <%= f.label :宛名, class:"col-sm-3 col-form-label" %>
      <div class="col-sm-6">
        <%= f.text_field :address_name, placeholder:"令和道子" %>
      </div>
      <%= f.submit "新規登録", class:"btn btn-success" %>
    </div>
  <% end %>

  <div class="mt-5">
    <table class="table text-center">
      <thead class="thead-light">
        <tr>
          <th>郵便番号</th>
          <th>住所</th>
          <th>宛名</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @shipping_addresses.each do |shipping_address| %>
        <tr>
          <td><%= shipping_address.postcode %></td>
          <td><%= shipping_address.address %></td>
          <td><%= shipping_address.address_name %></td>
          <td><%= link_to "編集する", edit_shipping_address_path(shipping_address), class:"btn btn-success" %></td>
          <td><%= link_to "削除する", shipping_address_path(shipping_address), method: :delete, class:"btn btn-danger" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>