<h2>配送先登録 / 一覧</h2>

<%= form_with model: @shipping_address, local: true do |f| %>
  <p>郵便番号</p>
  <%= f.text_field :postcode %>
  <p>住所</p>
  <%= f.text_field :address %>
  <p>宛名</p>
  <%= f.text_field :address_name %>
  <%= f.submit "新規登録" %>
<% end %>

<table class="table">
        <thead>
          <tr>
            <th>郵便番号</th>
            <th>住所</th>
            <th>宛名</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @shipping_addresses.each do |shipping_address| %>
          <tr>
            <td><%= shipping_address.postcode %></td>
            <td><%= shipping_address.address %></td>
            <td><%= shipping_address.address_name %></td>
            <td><%= link_to "編集する", edit_shipping_address_path(shipping_address) %></td>
            <td><%= link_to "削除する", shipping_address_path, method: :delete %></td>
          </tr>
          <% end %>
        </tbody>
      </table>