<% if @cart_item.errors.any? %>
  <div class="alert">
    <div class="alert-top"><%=@cart_item.errors.full_messages.size%> errors prohibited this book from being saved:</div>
    <ul class="alert-body">
      <% @cart_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="container mt-5">
  <%= render "table", cart_items:@cart_items,cart_item:@cart_item%>

  <div class="row">
    <div class="mx-auto">
      <% if @cart_items.empty? %>
        <%= link_to "情報入力へ進む",information_orders_path,  data: {"turbolinks" => false}, class: "btn-flat-success" %>
      <% else %>
        <%= link_to "情報入力へ進む",information_orders_path,  data: {"turbolinks" => false}, class: "btn-flat-success" %>
      <% end %>
    </div>
  </div>

</div>



