<div class="container">
  <div class="row">
    <div class="col-3 offset-1"><h4>注文履歴一覧</h4></div>
  </div>

  <div class="row">
    <div class="col-12">
      <table class="table table-bordered table-hover table-responsive-md">
        <thead>
          <tr>
            <th width="80">注文日</th>
            <th>配送先</th>
            <th width="120">注文商品</th>
            <th width="100">支払金額</th>
            <th width="120">ステータス</th>
            <th width="120">注文詳細</th>
          </tr>
        </thead>
        <tbody>
          <!-- 注文商品一覧の配列を操作するための変数n -->
          <% n = 0 %>
          <% @orders.each do |order| %>
            <tr>
              <td><%= order.created_at.strftime("%Y/%m/%d") %></td>
              <td>
                <div>〒<%= order.postcode %></div>
                <div><%= order.address %></div>
                <div><%= order.address_name %></div>
              </td>
              <td>
                <% @order_details[n].each do |item| %>
                  <div><%= item %></div>
                <% end %>
              </td>
              <td><%= order.amount_including_shipping.to_s(:delimited) %>円</td>
              <td><%= order.status %></td>
              <td><%= link_to "表示する", order_path(order), class:"btn btn-primary" %></td>
            </tr>
            <% n += 1 %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>