<%= render 'layouts/errors', obj: @cart_item %>

<div class="container">
  <div class="row">
    <div class="col-3">
      <%= render "public/homes/genre_search", genres: @genres %>
    </div>

    <div class="col-9 mt-5">
      <div class="card mb-3" style="max-width: 1000px;">
        <div class="row g-0">
          <div class="col-7">
            <%= attachment_image_tag @item, :item_image, :fill, 60, 60, fallback:"cake_role.jpeg", hight:"100%", width:"100%" %>
          </div>

          <div class="col-5">
            <div class="card-body mt-4">
              <h1><%= @item.name %></h1>
              <p class="mb-5"><%= @item.caption %></p>
              <h5 class="mt-5"><%= number_to_currency(@item.tax_include, unit: "¥", strip_insignificant_zeros: true) %>(税込)</h5>

                <%= form_with model: @cart_item, local: true do |f| %>
                <%= f.hidden_field :item_id, value: @item.id %>
                <%= f.select :quantity, [1,2,3,4,5,6,7,8,9,10], :prompt => "個数選択" %>
                <%= f.submit "カートに入れる", class:"btn btn-success" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>