<!DOCTYPE html>
<html>
  <head>
    <title>Naganocake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/efe3d01fd5.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="/"><%= image_tag "logo.jpeg", size:"150" %></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto d-flex align-items-start">
              <li class="nab-link mr-3">
                <% if customer_signed_in? %>
                    W e l c o m e , </br>
                    <%= current_customer.join_name %>
                <% end %>
              </li>
              <% if customer_signed_in? %>
                <li class="nav-item">
                  <%= link_to "M y P a g e", customers_path, class: "nav-link text-dark" %>
                </li>
                <li class="nav-item">
                  <%= link_to "I t e m", items_path, class: " nav-link text-dark" %>
                </li>
                <li class="nav-item">
                  <%= link_to "C a r t", cart_items_path, class: " nav-link text-dark" %>
                </li>
                <li class="nav-item">
                  <%= link_to "L o g o u t", destroy_customer_session_path, method: :delete, class: "nav-link text-dark" %>
                </li>
              <% elsif admin_signed_in? %>
                <li class="nav-item">
                  <%= link_to "Item", admin_items_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Customer", admin_customers_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Order", admin_orders_path, class: "nav-link text-light" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Genre", admin_genres_path, class: "nav-link text-light" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Logout", destroy_admin_session_path, method: :delete, class: "nav-link text-light" %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to "About", about_path, class: "nav-link text-light" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Item", items_path, class: "nav-link text-light" %>
                </li>
                <li class="nav-item">
                  <%= link_to "SignUp", new_customer_registration_path, class: "nav-link text-light" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Login", new_customer_session_path, class: "nav-link text-light" %>
                </li>
              <% end %>
            </ul>
            <div class="search_form">
              <%= form_with scope: :search, url: items_path, method: :get, local: true do |f| %>
                <%= f.text_field :search_word , class:"search_form_text" %>
                <%= f.button :type => "submit", class:"search_form_btn" do %>
                  <i class="fas fa-search search_form_icon"></i>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </nav>
    </header>


    <main>
      <% if alert %>
　  　  <p class="alert"><%= alert %></p>
   　  <% end %>
      <div class="flash">
        <% if flash[:notice] %>
          <div class="flash">
            <%= flash[:notice]%>
          </div>
        <% end %>
      </div>
      <%= yield %>
    </main>
    <footer class="foot">CopyRight GifuRevengers.inc</footer>

  </body>
</html>
